body {
    height: 100vh
}
.section-scroll-top {
    position: relative;
}
.scroll-down {
    /* position: absolute; */
    position: relative;
    display: block;
    bottom: -3rem;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    background-color: #fff;
    z-index: 99;
    left: 50%;
    right: 50%;
    margin-left: -23px
}

.scroll-down svg {
    transition: all .5s cubic-bezier(.075, .82, .165, 1);
    position: absolute;
    top: 17px;
    left: 15.5px
}

.scroll-down:hover {
    background-color: #cb2
}

.scroll-down:hover svg {
    top: 20px
}

.scroll-down:hover svg path {
    fill: #b22
}